body * {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(187, 153, 221, 0.08);
    
}

#conteiner {
    width: 360px;
    margin: auto;
    
}


/* perfil */

#perfil {
    text-align: center;
    margin: 120px auto 33px;
    
}

#perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #bb99dd 2px solid;
    padding: 0;
    
}

#perfil p {
    font-weight: 300;
    color: rgb(36, 35, 35);
    font-size: 16px;
}

/* links */

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    

    
}

ul li a {
    border: rgb(36, 35, 35) 2px solid;
    display: flex;
    height: 49px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: rgb(36, 35, 35);
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

#social-links {
    display: flex;
    font-size: 24px;
    justify-content: center;
    gap: 29px;
}

#social-links a {
    margin: 46px 0 0;
}

